/*======zeroing======*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body::-webkit-scrollbar { width: 0; }
body{ -ms-overflow-style: none; }  

/*-----------------------------------------------*/
@font-face {
  font-family: "FortuneC"; 
  src: url("../fonts/FortuneC.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
@font-face {
  font-family: "Vetrino"; 
  src: url("../fonts/Vetrino.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body{
  font-family: 'FortuneC';
  display: flex;
  justify-content: center;
}
.wrapper{
  position: relative;
  max-width: 500px;
  min-height: 100%;
  /* overflow: hidden; */

}
main{
  flex: 1 0 auto;
  text-align: center;
}

/*===================Header===================*/
.header{
  position: relative;
}
.burger-menu{
  position: relative;
}

.burger-menu__button {
 position: absolute;
 top: 10px;
 right: 10px;
 z-index: 30;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 transition: 0.4s;

}

.burger-menu__button:hover .burger-menu__lines {
 filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
 position: absolute;
 width: 32px;
 height: 3px;
 background: #9A9A9A;

}

.burger-menu__lines {
  background: #9A9A9A;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
 content: "";
 top: -6px;
 background: #9A9A9A;

}

.burger-menu__lines::after {
 content: "";
 top: 6px;
 background: #9A9A9A;

}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
 background-color: transparent;
}


.burger-menu_active .burger-menu__lines::before {
 top: 0;
 transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
 top: 0;
 transform: rotate(-45deg);
}

.burger-menu__nav {
 width: 100%;
 padding-top: 80px;
 position: fixed;
 z-index: 20;
 display: flex;
 flex-flow: column;
 height: 100%;
 background-color: #2a2a2a;
 overflow-y: auto;
 right: -100%;
 transition: 0.5s;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.burger-menu_active .burger-menu__nav {
 right: 0;
}

.burger-menu__link {
 padding: 30px;
 font-family: "FortuneC";
 font-size: 32px;
 text-decoration: none;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-weight: bold;
 color: #fff;
}

.burger-menu__link :hover {
 filter: brightness(0.7);
}

.burger-menu__overlay {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
 display: block;
}


/* ================About================= */
.about__sun{
  position: absolute;
  right: 0;
  top: 150px;
}
.about__moon{
  position: absolute;
  left: 0;
  top: 280px;
}
.about__zodiac{
  position: absolute;
  left: 0;
  top: 0;
}
.about__top_img img{
  max-width: 60%;
}
.about__top_img{
  padding: 44% 0 0 0;
  background: #111016;
  margin: 0 0 -2px 0;
}
.about__top_img img{
  margin: 0 0 -100px 0;

}
.about__circle{
  background: #111016;
  height: 200px;
  border-radius: 0 0 50% 50%;
}
.about__top_info{
  margin: 15px 0 0 0;
}
.about__top_title{
  color: #000;
  font-family: Vetrino;
  font-size: 1.375rem;
  font-weight: 400;
}
.about__top_subtitle{
  text-align: start;
  padding: 16px 0 0 3%;
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
}
.about__top_text{
  text-align: start;
  padding: 8px 0 16px 3%;
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
}
.about__center{
  padding: 16px 0;
  border-bottom: 2px solid #B3BBBE;
  border-top: 2px solid #B3BBBE;
  
}
.about__center_img img{
  margin: 0 5px 0 0;
}
.about__down_text{
  margin: 16px 0 0 0;
}
.about__down_text p{
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: start;
  padding: 0 0 0 3%;
}
.about__btn{
  margin: 26px 0 0 0;

}
.about__btn_more{
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--colors-secondary-silver, linear-gradient(127deg, #E8E8E8 -64.8%, #C4C8CA -42.62%, #E8E8E8 -20.43%, #C9CCCE 1.75%, #E8E8E8 23.93%, #CFD1D2 46.11%, #E8E8E8 68.29%, #D3D4D5 90.48%, #E8E8E8 112.66%));
}



/* ====================learnMore===================== */

.learnMore__container{
  border-radius: 200px;
background: #000;
margin: 1px 0;
}
.learnMore__top_imgs{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 43px 0 0 0;
}
/* .learnMore__info{
  padding: 0 0 100px 0;
} */
.learnMore__info_title{
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
.learnMore__info_titleText{
  color: #FFF;
  font-family: Vetrino;
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 320px;

}
.learnMore__info_table{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}
.learnMore__table_el{
  display: flex;
  gap: 16px;
}
.learnMore__table_text{
  display: flex;
  align-items: center;
}
.learnMore__table_text p{
  color: #FFF;
  font-family: FortuneC;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.learnMore__bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 43px 0 50px 0;
 
}
.learnMore__btn{
  padding: 10px;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 20px;
  background: var(--colors-secondary-silver, linear-gradient(127deg, #E8E8E8 -64.8%, #C4C8CA -42.62%, #E8E8E8 -20.43%, #C9CCCE 1.75%, #E8E8E8 23.93%, #CFD1D2 46.11%, #E8E8E8 68.29%, #D3D4D5 90.48%, #E8E8E8 112.66%));
}